# окружение
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.DS_Store
.ipynb_checkpoints/

# логгеры
wandb/
.hydra/
outputs/

# данные и артефакты: наружу не уезжают
datasets/*
runs/*
tmp/*
ext/*
!datasets/.gitkeep
!runs/.gitkeep
!tmp/.gitkeep
!ext/.gitkeep

# секреты
.env
*.key

# артефакты lerobot
outputs/
eval_logs/

# mlflow (локальный трекинг)
mlflow.db
mlruns/
mlartifacts/
